<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.axjy.mapper.teach.ClassroomMapper">



  <select id="findQuery" resultType="com.axjy.pojo.teach.Classroom">
    select * from kms_classroom as cls inner join kms_garden as ga on cls.garden_id = ga.id
    <where>
      <if test="classroomVo.gardenId!=null and classroomVo.gardenId>0">
        cls.garden_id = #{classroomVo.gardenId}
      </if>
      <if test="classroomVo.lessNum!=null and classroomVo.lessNum>0">
        and   cls.conttain_num >= #{classroomVo.lessNum}
      </if>
      <if test="classroomVo.manyNum!=null and classroomVo.lessNum>0">
        and cls.conttain_num &lt;= #{classroomVo.manyNum}
      </if>
      <if test="classroomVo.roomState!=null">
        and  cls.room_state = #{classroomVo.roomState}
      </if>

    </where>
    order by cls.id
  </select>
  <select id="find" resultType="com.axjy.pojo.teach.Classroom">
        select * from kms_classroom as cls inner join kms_garden as ga on cls.garden_id = ga.id
        <where>
          <if test="classroomVo.gardenId!=null and classroomVo.gardenId>0">
            cls.garden_id = #{classroomVo.gardenId}
          </if>
            <if test="classroomVo.lessNum!=null and classroomVo.lessNum>0">
            and   cls.conttain_num >= #{classroomVo.lessNum}
            </if>
          <if test="classroomVo.manyNum!=null and classroomVo.lessNum>0">
            and cls.conttain_num &lt;= #{classroomVo.manyNum}
          </if>
          <if test="classroomVo.roomState!=null">
            and  cls.room_state = #{classroomVo.roomState}
          </if>
        </where>
            order by cls.id
  </select>







  <resultMap id="BaseResultMap" type="com.axjy.pojo.teach.Classroom">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="gradeName" jdbcType="VARCHAR" property="gradename" />
    <result column="conttain_num" jdbcType="INTEGER" property="conttainNum" />
    <result column="room_state" jdbcType="INTEGER" property="roomState" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="garden_id" jdbcType="BIGINT" property="gardenId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, gradeName, conttain_num, room_state, remark, garden_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from kms_classroom
    where id = #{id,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from kms_classroom
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.axjy.pojo.teach.Classroom" useGeneratedKeys="true">
    insert into kms_classroom (gradeName, conttain_num, room_state, 
      remark, garden_id)
    values (#{gradename,jdbcType=VARCHAR}, #{conttainNum,jdbcType=INTEGER}, #{roomState,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{gardenId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.axjy.pojo.teach.Classroom" useGeneratedKeys="true">
    insert into kms_classroom
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="gradename != null">
        gradeName,
      </if>
      <if test="conttainNum != null">
        conttain_num,
      </if>
      <if test="roomState != null">
        room_state,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="gardenId != null">
        garden_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="gradename != null">
        #{gradename,jdbcType=VARCHAR},
      </if>
      <if test="conttainNum != null">
        #{conttainNum,jdbcType=INTEGER},
      </if>
      <if test="roomState != null">
        #{roomState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gardenId != null">
        #{gardenId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.axjy.pojo.teach.Classroom">
    update kms_classroom
    <set>
      <if test="gradename != null">
        gradeName = #{gradename,jdbcType=VARCHAR},
      </if>
      <if test="conttainNum != null">
        conttain_num = #{conttainNum,jdbcType=INTEGER},
      </if>
      <if test="roomState != null">
        room_state = #{roomState,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="gardenId != null">
        garden_id = #{gardenId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.axjy.pojo.teach.Classroom">
    update kms_classroom
    set gradeName = #{gradename,jdbcType=VARCHAR},
      conttain_num = #{conttainNum,jdbcType=INTEGER},
      room_state = #{roomState,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      garden_id = #{gardenId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>